@model JobPortal.Entities.Models.Concrete.CompanyProfile

<h2>@Model.CompanyName - Şirket Profili</h2>

<p><strong>Email:</strong> @Model.Employer.Email</p>
<p><strong>Telefon:</strong> @Model.PhoneNumber</p>
<p><strong>Adres:</strong> @Model.Location</p>
<p><strong>Website:</strong> <a href="@Model.Website" target="_blank">@Model.Website</a></p>
<p><strong>Açıklama:</strong> @Model.Description</p>
