@model JobPortal.Entities.Models.Concrete.CompanyProfile

<div class="container my-5">
    <div class="card shadow-sm">
        <div class="card-header text-center bg-dark text-white">
            <h2>@Model.CompanyName</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Email:</strong> @Model.Employer.Email</p>
                    <p><strong>Telefon:</strong> @Model.PhoneNumber</p>
                    <p><strong>Adres:</strong> @Model.Location</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Website:</strong> <a href="@Model.Website" target="_blank">@Model.Website</a></p>
                    <p><strong>Açıklama:</strong> @Model.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>