@model JobPortal.MVC.ViewModels.JobViewModel

<h2>@Model.Job.Title</h2>
<p>@Model.Job.Description</p>
<p><strong>Konum:</strong> @Model.Job.Location</p>
<p><strong>Sektör:</strong> @Model.Job.Sector.Name</p>
<p><strong>Departman:</strong> @Model.Job.Department.Name</p>
<p>
    <strong>Şirket:</strong>
    <a href="@Url.Action("CompanyProfile", "JobAdvert", new { employerId = Model.Job.Employer.Id })">
        @Model.Job.Employer.CompanyProfile.CompanyName
    </a>
</p>

@if (User.Identity.IsAuthenticated && User.IsInRole("JobSeeker"))
{
    if (Model.AppliedJobIds.Contains(Model.Job.Id))
    {
        <p><strong>Başvuruldu!</strong></p>
    }
    else
    {
        <form method="post" asp-action="Apply" asp-route-jobId="@Model.Job.Id">
            <button type="submit">Başvur</button>
        </form>
    }
}

else if (!User.Identity.IsAuthenticated)
{
    <p><strong>Başvurmak için lütfen <a href="@Url.Action("Login", "JobSeekerLogin")">giriş yapınız</a></strong></p>
}