@model JobPortal.Entities.Models.Concrete.Job

<h2>@Model.Title</h2>
<p>
    <strong>Açıklama:</strong> @Model.Description <br />
    <strong>Konum:</strong> @Model.Location <br />
    <strong>Maaş:</strong> @Model.Salary TL <br />
    <strong>Sektör:</strong> @Model.Sector.Name <br />
    <strong>Departman:</strong> @Model.Department.Name <br />

    @if (User.IsInRole("Employer"))
    {
        <a href="@Url.Action("Applicants", "Job", new { jobId = Model.Id })">Başvuranları Görüntüle</a>
    }
</p>