@model JobPortal.Entities.Models.Concrete.Job

<h2>@Model.Title</h2>
<p>
    <strong>Açıklama:</strong> @Model.Description <br />
    <strong>Konum:</strong> @Model.Location <br />
    <strong>Maaş:</strong> @Model.Salary TL <br />
    <strong>Sektör:</strong> @Model.Sector.Name <br />
    <strong>Departman:</strong> @Model.Department.Name <br />

    @if (User.IsInRole("Employer"))
    {
        <a href="@Url.Action("Applicants", "Job", new { jobId = Model.Id })">Başvuranları Görüntüle</a>
        <br />
        <form method="post" asp-action="DeleteJob" asp-route-id="@Model.Id" style="margin-top: 10px;">
            <button type="submit" class="btn btn-danger" onclick="return confirm('İlanı kaldırmak istediğinizden emin misiniz?');">İlanı Kaldır</button>
        </form>
        <br />
        <a href="@Url.Action("EditJob", "Job", new { id = Model.Id })" class="btn btn-primary">İlanı Düzenle</a>
    }
</p>