@model IEnumerable<JobPortal.Entities.Models.Concrete.Job>

<h2 class="text-center my-4">İlanlarım</h2>

<div class="container">
    <div class="row">
        @foreach (var job in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm border-0 rounded">
                    <div class="card-body">
                        <h5 class="card-title mb-3" style="font-weight: 700; font-size: 1.25rem;"><strong>@job.Title</strong></h5>
                        <p class="card-text"><strong>Konum:</strong> @job.Location</p>
                        <p class="card-text"><strong>Ücret:</strong> @job.Salary.ToString("F0") TL</p>
                        <p class="card-text"><strong>Sektör:</strong> @job.Sector?.Name</p>
                        <p class="card-text"><strong>Departman:</strong> @job.Department?.Name</p>
                        <p class="card-text"><strong>Çalışma Şekli:</strong> @job.WorkType</p>
                        <p class="card-text"><strong>İş Türü:</strong> @job.JobType</p>
                    </div>
                    <div class="card-footer bg-white text-center">
                        <a href="@Url.Action("JobDetails", "Job", new { id = job.Id })" class="btn btn-dark w-100" style="border-radius: 25px;">Detaylar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>