@model JobPortal.Entities.Models.Concrete.Employer

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white text-center">
                    <h2>İşveren Profilini Düzenle</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label for="CompanyName" class="form-label"><strong>Şirket Adı:</strong></label>
                            <input type="text" class="form-control" id="CompanyName" name="CompanyProfile.CompanyName" value="@Model.CompanyProfile?.CompanyName" required />
                        </div>
                        <div class="mb-3">
                            <label for="Email" class="form-label"><strong>Email:</strong></label>
                            <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required />
                        </div>
                        <div class="mb-3">
                            <label for="PhoneNumber" class="form-label"><strong>Telefon Numarası:</strong></label>
                            <input type="text" class="form-control" id="PhoneNumber" name="CompanyProfile.PhoneNumber" value="@Model.CompanyProfile?.PhoneNumber" required />
                        </div>
                        <div class="mb-3">
                            <label for="Website" class="form-label"><strong>Website:</strong></label>
                            <input type="text" class="form-control" id="Website" name="CompanyProfile.Website" value="@Model.CompanyProfile?.Website" />
                        </div>
                        <div class="mb-3">
                            <label for="Location" class="form-label"><strong>Lokasyon:</strong></label>
                            <input type="text" class="form-control" id="Location" name="CompanyProfile.Location" value="@Model.CompanyProfile?.Location" required />
                        </div>
                        <div class="mb-3">
                            <label for="Description" class="form-label"><strong>Şirket Açıklaması:</strong></label>
                            <textarea id="Description" class="form-control" name="CompanyProfile.Description" rows="4">@Model.CompanyProfile?.Description</textarea>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>